<div class="py-10 max-w-lg my-10  m-auto">
  <div class="p-3 bg-white border border-grey-300 rounded">

    <div class="flex flex-wrap justify-between items-center mb-5">
      <p class="text-3xl px-3 text-indigo-500"><%= @meeting.name %></p>
      <%= link_to "Finish Service", meeting_path(@meeting), method: :delete, data: { confirm: "Are you sure you want to cancel? "}, class: "btn btn-destroy" if admin? %>
    </div>

    <div class="border p-6 bg-grey-400 mb-5 rounded flex items-center justify-between">
      <p class="border-2 py-3 px-4 border-indigo rounded-full text-sm text-indigo-700">
        Start time: <span class="font-bold"><%= readable_time(@meeting.start_time) %></span>
      </p>
      <div class="border-t-2 border-indigo-200 border-dashed h-1 flex-1"></div>
      <p class="border-2 py-3 px-4 border-indigo rounded-full text-sm text-indigo-700">
        End time: <span class="font-bold"><%= readable_time(@meeting.end_time) %></span>
      </p>
    </div>

  
    <% unless user_signed_in? %>
      <div class="bg-grey-200 rounded p-4 mt-4 text-center">
        <p class="text-sm text-grey-700"><%= link_to "Login", new_user_session_path, class: "link" %> or <%= link_to "Sign up", new_user_regsitration_path, class: "link" %> to comment.</p>
      </div>
    
  <% end %>

</div>
</div>
